* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: #ff4f00;
}

:root[data-theme="dark"] {
    --theme: #151414;
    --primary: #f5f5f5;
}

.navbar a {
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -2px;
    width: 0;
    background: var(--accent);
    transition: width .25s ease;
}

.navbar a:hover:after {
    width: 100%;
}

.toc {
    width: 265px;
}

.toc a {
    position: relative;
}

.toc a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -2px;
    width: 0;
    background: var(--accent);
    transition: width .25s ease-in-out;
}

.toc a:hover:after {
    width: 100%;
}

/* Stupid underline fix! Shit CSS alert. */
.toc a:hover {
    box-shadow: none!important;
}

.toc>details>div.inner>ul>li::marker {
    color: var(--accent);
    content: '| ';
}

/* Shit CSS? */
#menu .active {
    color: var(--accent);
    border-bottom: none!important;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
}

/* I have no clue what this does, it just makes the animation work */
#menu>li>a>span {
    position: relative;
}

#menu>li>a>span:not(.active)::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -2px;
    width: 0;
    background: var(--accent);
    transition: width .25s ease-in-out;
}

#menu>li>a>span:not(.active):hover:after {
    width: 100%;
}

.footer a {
    color: inherit;
    border-bottom: none!important;
}

.footer a:hover {
    border-bottom: none!important;
}

hr {
    width: var(--nav-width);
    margin-inline: auto;
}
